table{ 
    padding: 12px; ;
}
tr{
    
}
body{
    background-color: azure;
    margin: 12%;
}
h3{
    background-color: aquamarine;
}
#r2{
    background-color: aquamarine;
}
    
}






